/* src/components/Tooltip.css */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  max-width: 200px;
  background-color: #004a99;
  color: #fff;
  text-align: left;
  padding: 6px 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 10;
  top: -8px;
  left: 105%;
  white-space: pre-wrap;
  font-size: 0.75rem;
  line-height: 1.2;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
/* Tooltip styling */
.group:hover .group-hover\\:block {
  display: block !important;
}
